.custom-field
{
	background:transparent !important;
}

.field-box{
    border-bottom:3px solid #1b2254e3;
  }
  .field-text{
    background:#1b2254e3;
    color:#fff;
    padding-top:6px;
    padding-left:3px;
    padding-right:3px;
  }
  .custom-btn
  {
    /*background:#1b2254e3 !important;*/
    border-radius:0 !important;
    border-left:0 !important;
    background:#fff !important;
    height:35px !important;


    /*border:0;*/
  }
  .custom-addon
  {
    border-radius:0 !important;
    background:#fff !important;
    border-right:0 !important;
    color:#ccc !important;
  }
  .separator
  {
    height:5px;
    border-top:2px solid red;
    width:400px;
    position:absolute;
    /*width:100px;*/
    /*transform:translateX(50%); */
    /*transform:rotate(20%,20%);*/
   -webkit-transform: rotateX(90);
  }
  .custom-navbar
  {
    background:#fff !important;
    box-shadow:0px 0px 5px rgba(0,0,0,0.80)!important;
    border:0 !important; 
    border-radius:0 !important;
    /*height:60px !important;*/
    /*line-height:60px !important;*/
  }
  .custom-box
  {
    background:#FAFAFA;
  }
  .custom-btn
  {
    /*border-radius:1px !important;*/
    background:#1b2254e3 !important;
    color:#fff !important;
    border:0;

  }
  .custom-container
  {
     height:45px !important;
    line-height:45px !important;
  }

   .custom-field
  {
    /*background:#1b2254e3 !important;*/
    border-radius:0 !important;
    border-left:0 !important;
    background:#fff !important;
    height:44px !important;
 


    /*border:0;*/
  }
  .custom-field-add
  {
    /*background:#1b2254e3 !important;*/
    border-radius:0 !important;
    /*border-left:0 !important;*/
    background:#fff !important;
    height:44px !important;
    background:transparent !important;
    text-align:left !important;
    border:1px solid #fff !important;
    color:#fff !important;

 


    /*border:0;*/
  }
  .custom-addon
  {
    border-radius:0 !important;
    background:#fff !important;
    border-right:0 !important;
    color:#ccc !important;
    height:44px !important;
  }

  .text-style
  {
    color:#1b2254e3;
  }
  .custom-box-field
  {
     box-shadow:0px 0px 5px rgba(0,0,0,0.40)!important;
  }
  .box-style
  {
    box-shadow:0px 0px 5px rgba(0,0,0,0.50)!important;
    /*border:1px solid #ccc;*/
    padding:6px;
    background:#fff;
  }
   .overlay
  {
    cursor:pointer;
    /*background:#000;*/
    /*z-index:0;*/
  }
  
  .custom-thumb
  {
    border-radius:0;
    /*box-shadow:0px 0px 5px rgba(0,0,0,0.40)!important;*/
  }

  .register-btn
  {
    background:transparent; 
    border:3px solid #fff;
    border-radius:0;
    padding:10px;
  }
  .box-content
  {
     /*box-shadow:0px 0px 5px rgba(0,0,0,0.50)!important;*/
    /*border:1px solid #ccc;*/
    padding:6px;
    background:#fff;
    border:1px solid #ddd;
  }

  .remote-box
  {
    width:40px;
    height:40px;
    background:#1b2254e3;
    line-height:40px;
    text-align:center;
    position:fixed;
    bottom:50px;
    right:18px;
    color:#fff;
    border-radius:50px;
    cursor:pointer;
  }

 .btn-login
 {
  color:#1b2254e3 !important;
  font-family:Helvetica !important;
  /*display:none !important;*/
  background:transparent !important;
  border:1px solid #000 !important;
  border-radius:9px !important;
 }

.btn-login:hover
{
  background:#1b2254e3 !important;
  color:#fff !important;

}

.btn-research
{
  color:#fff !important;
  font-family:Helvetica !important;
  /*display:none !important;*/
  background:transparent !important;
  border:3px solid #1b2254e3  !important;
  border-radius:9px !important;
}

.btn-research:hover
{
   background:#1b2254e3 !important;
   color:#fff !important;
   border:1px solid transparent !important;
   border:3px solid #fff  !important
}


/*.custom-select*/
{
  /*display:none !important;*/
  background:transparent !important;
  color:#1b2254e3  !important;
}

/*.custom-addon-select*/
{
  background:transparent !important;
  color:#fff !important;
}

.custom-addon-other
{
  border-radius:0 !important;
}